<mat-divider></mat-divider>
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-12">
      <div class="col-md-7">
        <h1>Mision</h1>
        <p>
          CDM Mantenimiento y Servicios Ltda. es una empresa Norte Santanderiana
          dedicada a la prestación de servicios integrales de ingeniería
          eléctrica de mantenimiento. montaje y movimiento especializado de
          transformadores de pontencia.
        </p>
        <p>
          Brindamos soluciones calificadas a la medida de las empresas del
          sector energético. mediante un exelente servicio. Contribuyendo con el
          desarrollo sostenible del sector eléctrico, manteniendo un equilibrio
          entre el crecimiento industrial, la preservacion del medio ambiente y
          el bienestar social.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="col-md-7">
        <h1>Vision</h1>
        <p>
          En el 2021 CDM Mantenimiento y Servicios Ltda. aumentará el
          posicionamiento en el mercado, montaje y movimiento especializado de
          transformadores de protencia, para alcanzar el reconocimiento a nivel
          nacional por sus clientes, en la prestación de sus servicios
          integrales de ingeniería eléctrica: garantizando la calidad,
          efectividad y confianza de los clientes
        </p>
      </div>
    </div>
  </div>
</div>
