<div class="ui-g">
  <p-toast></p-toast>
  <p-confirmDialog
    header="Confirmacion"
    AcceptLabel="Si"
    rejecLabel="No"
    icon="pi pi-exclamation-triangle"
  ></p-confirmDialog>

  <p-panel
    header="Administracion de Registros"
    [style]="{ width: '100%', height: '100%', margin: '0 auto' }"
  >
    <div style="margin-bottom: 20px;">
      <p-menubar [model]="items">
        <div>
          <input
            type="text"
            pInputText
            placeholder="Buscar"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
          />
          <button
            pButton
            label="Salir"
            icon="pi pi-sign-out"
            style="margin-left: .25em;"
          ></button>
        </div>
      </p-menubar>
    </div>
    <p-table
      #dt
      [value]="registros"
      [columns]="cols"
      [paginator]="true"
      selectionMode="single"
      [(selection)]="selectedRegistro"
      datakey="id"
      [rows]="10"
      [responsive]="true"
      [resizableColumns]="true"
      [rowsPerPageOptions]="[10, 20, 30]"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon
              [field]="col.field"
              ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in decending order"
              arialLabelAsc="Activate to sort in ascending order"
            >
            </p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            <div
              *ngIf="
                col.subfield;
                then nested_object_content;
                else normal_content
              "
            ></div>
            <ng-template #nested_object_content>
              {{ rowData[col.field][col.subfield] }}
            </ng-template>
            <ng-template #normal_content>
              {{ rowData[col.field] }}
            </ng-template>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div style="text-align: left">
          Registro Seleccionado:
          {{
            selectedRegistro
              ? selectedRegistro.id +
                " - " +
                selectedRegistro.fecha +
                " - " +
                selectedRegistro.hora_entrada +
                " - " +
                selectedRegistro.hora_salida +
                " - " +
                selectedRegistro.hora_ordinaria +
                " - " +
                selectedRegistro.recargo_nocturno +
                " - " +
                selectedRegistro.hora_extra +
                " - " +
                selectedRegistro.hora_extra_nocturna +
                " - " +
                selectedRegistro.hora_extra_festiva +
                " - " +
                selectedRegistro.hora_extra_festiva_nocturna +
                " - " +
                selectedRegistro.persona["nombre"] +
                " - " +
                selectedRegistro.proyecto["nombreProyecto"]
              : "Ninguno"
          }}
        </div>
      </ng-template>
    </p-table>
  </p-panel>
  <p-dialog
    header="Nuevo Registro"
    [(visible)]="displaySaveDialog"
    [focusOnShow]="false"
    [responsive]="true"
    shadowEffect="fade"
    [modal]="true"
    [style]="{ width: '600px' }"
  >
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Cedula">ID</label>
        </div>
        <div class="ui-g-8">
          <input disabled pInputText id="id" [(ngModel)]="registro.id" />
        </div>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="fecha">Fecha</label>
      </div>
      <div class="ui-g-8">
        <p-calendar
          [locale]="es"
          dateFormat="yy-mm-dd"
          id="fecha"
          [(ngModel)]="registro.fecha"
        ></p-calendar>
        <!--<input pInputText id="fecha" [(ngModel)]="registro.fecha" />-->
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="hora_entrada">Hora Entrada</label>
      </div>
      <div class="ui-g-8">
        <input
          pInputText
          id="hora_entrada"
          [(ngModel)]="registro.hora_entrada"
        />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="hora_salida">Hora Salida</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="hora_salida" [(ngModel)]="registro.hora_salida" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="hora_ordinaria">HO</label>
      </div>
      <div class="ui-g-8">
        <input
          pInputText
          id="hora_ordinaria"
          [(ngModel)]="registro.hora_ordinaria"
        />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="recargo_nocturno">RN</label>
      </div>
      <div class="ui-g-8">
        <input
          pInputText
          id="recargo_nocturno"
          [(ngModel)]="registro.recargo_nocturno"
        />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="hora_extra">HE</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="hora_extra" [(ngModel)]="registro.hora_extra" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="hora_extra_nocturna">HEN</label>
      </div>
      <div class="ui-g-8">
        <input
          pInputText
          id="hora_extra_nocturna"
          [(ngModel)]="registro.hora_extra_nocturna"
        />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="hora_extra_festiva">HEF</label>
      </div>
      <div class="ui-g-8">
        <input
          pInputText
          id="hora_extra_festiva"
          [(ngModel)]="registro.hora_extra_festiva"
        />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="hora_extra_festiva_nocturna">HEFN</label>
      </div>
      <div class="ui-g-8">
        <input
          pInputText
          id="hora_extra_festiva_nocturna"
          [(ngModel)]="registro.hora_extra_festiva_nocturna"
        />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="persona">Persona</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="persona" [(ngModel)]="registro.persona" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="proyecto">Proyecto</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="proyecto" [(ngModel)]="registro.proyecto" />
      </div>
    </div>
  </p-dialog>
</div>
