#agregarEntrada {
  padding: 10px;
}

#agregarEntrada p-calendar .form-control:disabled,
#agregarEntrada p-calendar .form-control[readonly] {
  background: #fff;
  text-align: center;
}

.ui-dialog-content.ui-widget-content.ng-tns-c65-0 {
  overflow: visible;
}
.box,
.sample-layout > div {
  background-color: #ffffff;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 4px;
}

.box-stretched {
  height: 100%;
}

.sample-layout {
  margin: 0;
}

.sample-layout > div {
  border: 1px solid #ffffff;
}

.vertical-container {
  margin: 0;
  height: 200px;
  background: #efefef;
  border-radius: 4px;
}

.nested-grid .p-col-4 {
  padding-bottom: 1em;
}

:host ::ng-deep button {
  margin-right: 0.25em;
}

:host ::ng-deep .ui-message,
:host ::ng-deep .ui-inputtext {
  margin-right: 0.25em;
}

:host ::ng-deep .custom-message,
:host ::ng-deep img {
  align-self: center;
  font-size: 16px;
  margin-left: 0.5em;
}
