<div class="row" id="agregarEntrada">
  <div class="col-12">
    <form [formGroup]="formEntrada" (ngSubmit)="agregarEntrada()">
      <div class="row form-group p-2">
        <div class="col-12 mt-2">
          <div class="p-grid">
            <div class="p-col-6">
              <div class="box">
                <div class="row">
                  <div class="col-12" id="fecha" ngDefaultControl formControlName="fecha">
                    {{ date | date: "yyyy-MM-dd" }}
                  </div>
                </div>
              </div>
            </div>
            <div class="p-col-6">
              <div class="box">
                <div class="row">
                  <div class="col-12" id="festivo" ngDefaultControl formControlName="festivo">
                    {{ isfestivo ? "Es dia festivo" : "No es Dia Festivo" }}
                  </div>
                </div>
              </div>
            </div>
            <div class="p-col-6">
              <div class="box">
                <label for="persona">Trabajador</label>
                <div class="row">
                  <div class="col-12 mt-2 mb-2">
                    <select
                      class="custom-select"
                      (change)="onPersonaChange()"
                      formControlName="persona"
                      id="persona"
                      [ngClass]="{
                        'is-valid': persona.dirty && !persona.invalid,
                        'is-invalid': persona.dirty && persona.invalid
                      }"
                    >
                      <option [ngValue]="null" disabled
                        >--Seleccione un Trabajador--</option
                      >
                      <option
                        [ngValue]="persona"
                        *ngFor="let persona of personas"
                        >{{ persona.nombre }}</option
                      >
                    </select>
                    <div
                      *ngIf="persona.invalid && formEntrada.dirty"
                      class="error"
                    >
                      Trabajador Requerido
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-col-6">
              <div class="box">
                <label for="proyecto">Proyecto</label>
                <div class="row">
                  <div class="col-12 mt-2 mb-2">
                    <select
                      class="custom-select is-valid"
                      formControlName="proyecto"
                      id="proyecto"
                      [ngClass]="{
                        'is-valid': proyecto.dirty && !proyecto.invalid,
                        'is-invalid': proyecto.dirty && proyecto.invalid
                      }"
                    >
                      <option [ngValue]="null" disabled
                        >--Seleccione un Proyecto--</option
                      >
                      <option
                        [ngValue]="proyecto"
                        *ngFor="let proyecto of proyectos"
                        >{{ proyecto.nombre }}</option
                      >
                    </select>
                    <div
                      *ngIf="proyecto.invalid && formEntrada.dirty"
                      class="error"
                    >
                      Seleccione un Proyecto
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-col-6">
              <div class="box">
                <div class="row">
                  <div class="col-12 mt-2 mb-2">
                    <label for="horaEntrada">Hora de Entrada</label>
                    <p-calendar
                      [(ngModel)]="entradaHora"
                      [timeOnly]="true"
                      formControlName="hora_entrada"
                      [readonlyInput]="true"
                      inputStyleClass="form-control"
                      [ngClass]="{
                        'is-valid': hora_entrada.dirty && !hora_entrada.invalid,
                        'is-invalid': hora_entrada.dirty && hora_entrada.invalid
                      }"
                    ></p-calendar>
                    <div
                      *ngIf="hora_entrada.invalid && formEntrada.dirty"
                      class="error"
                    >
                      Seleccione la hora ingreso
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-col-6">
              <div class="box">
                <div class="row">
                  <div class="col-12 mt-2 mb-2">
                    <label for="horaSalida">Hora de Salida</label>
                    <p-calendar
                      [(ngModel)]="salidaHora"
                      [timeOnly]="true"
                      formControlName="hora_salida"
                      [readonlyInput]="true"
                      inputStyleClass="form-control"
                      [ngClass]="{
                        'is-valid': hora_salida.dirty && !hora_salida.invalid,
                        'is-invalid': hora_salida.dirty && hora_salida.invalid
                      }"
                    ></p-calendar>
                    <div
                      *ngIf="hora_salida.invalid && formEntrada.dirty"
                      class="error"
                    >
                      Seleccione la hora de salida
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-col-12">
              <div class="box">
                <div class="row">
                  <div class="col-12">
                    <button [disabled]="formEntrada.invalid" class="btn btn-block btn-primary" type="submit">Registrar Entrada</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="ui-g-12">
  <p-panel>
    <p-table></p-table>
  </p-panel>
</div>
<p-dialog
  [(visible)]="display"
  [focusOnShow]="false"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [resizable]="true"
  [maximizable]="true"
  [style]="{ width: '80%' }"
  [contentStyle]="{ overflow: 'visible' }"
>
  <p-header>
    Seleccione Una Fecha y Proyecto
  </p-header>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="fecha">Fecha</label>
      </div>
      <div class="ui-g-9">
        <p-calendar
          [(ngModel)]="date"
          [locale]="es"
          [required]
          dateFormat="yy-mm-dd"
        ></p-calendar>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="festivo">¿Festivo?</label>
      </div>
      <div class="ui-g-4">
        <p-checkbox [(ngModel)]="isfestivo" binary="true"></p-checkbox>
      </div>
      <div class="ui-g-5">
        <h3>{{ isfestivo ? "Si" : "No" }}</h3>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-g-12">
      <button
        pButton
        type="button"
        label="Aceptar"
        class="ui-button-raised"
        (click)="aceptar()"
      ></button>
      <button
        pButton
        type="submit"
        label="Cancelar"
        class="ui-button-raised ui-button-danger"
        (click)="cancelar()"
      ></button>
    </div>
  </p-footer>
</p-dialog>
