<div class="row" id="agregarEntrada">
  <div class="col-12">
    <form [formGroup]="formEntrada" (ngSubmit)="agregarEntrada()">
      <div class="row form-group p-2">
        <div class="col-12 mt-2">
          <div class="p-grid">
            <div class="p-col-6">
              <div class="box">{{date | date: 'yyyy-MM-dd'}}</div>
            </div>
            <div class="p-col-6">
              <div class="box">{{festivo ? "Es dia festivo":"No es Dia Festivo"}}</div>
            </div>
            <div class="p-col-6">
              <div class="box">
                <label for="persona">Trabajador</label>
                <div class="row">
                  <div class="col-12 mt-2 mb-2">
                    <select
                      class="custom-select"
                      (change)="onPersonaChange()"
                      formControlName="persona"
                      id="persona"
                      [ngClass]="{
                        'is-valid': persona.dirty && !persona.invalid,
                        'is-invalid': persona.dirty && persona.invalid
                      }"
                    >
                      <option [ngValue]="null" disabled
                        >--Seleccione un Trabajador--</option
                      >
                      <option
                        [ngValue]="persona"
                        *ngFor="let persona of personas"
                        >{{ persona.nombre }}</option
                      >
                    </select>
                    <div
                      *ngIf="persona.invalid && formEntrada.dirty"
                      class="error"
                    >
                      Trabajador Requerido
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-col-6">
              <div class="box">
                <label for="proyecto">Proyecto</label>
                <div class="row">
                  <div class="col-12 mt-2 mb-2">
                    <select
                      class="custom-select is-valid"
                      formControlName="proyecto"
                      id="proyecto"
                      [ngClass]="{
                        'is-valid': proyecto.dirty && !proyecto.invalid,
                        'is-invalid': proyecto.dirty && proyecto.invalid
                      }"
                    >
                      <option [ngValue]="null" disabled
                        >--Seleccione un Proyecto--</option
                      >
                      <option
                        [ngValue]="proyecto"
                        *ngFor="let proyecto of proyectos"
                        >{{ proyecto.nombre }}</option
                      >
                    </select>
                    <div
                      *ngIf="proyecto.invalid && formEntrada.dirty"
                      class="error"
                    >
                      Proyecto Requerido Requerido
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-col-6">
              <div class="box">1</div>
            </div>
            <div class="p-col-6">
              <div class="box">2</div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="ui-g-12">
  <p-panel>
    <p-table></p-table>
  </p-panel>
</div>
<p-dialog
  [(visible)]="display"
  [focusOnShow]="false"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [resizable]="true"
  [maximizable]="true"
  [style]="{ width: '80%' }"
  [contentStyle]="{ overflow: 'visible' }"
>
  <p-header>
    Seleccione Una Fecha y Proyecto
  </p-header>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="fecha">Fecha</label>
      </div>
      <div class="ui-g-9">
        <p-calendar
          [(ngModel)]="date"
          [locale]="es"
          dateFormat="yy-mm-dd"
        ></p-calendar>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="festivo">¿Festivo?</label>
      </div>
      <div class="ui-g-4">
        <p-checkbox [(ngModel)]="festivo" binary="true"></p-checkbox>
      </div>
      <div class="ui-g-5">
        <h3>{{ festivo ? "Si" : "No" }}</h3>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-g-12">
      <button
        pButton
        type="button"
        label="Aceptar"
        class="ui-button-raised"
      ></button>
      <button
        pButton
        type="button"
        label="Cancelar"
        class="ui-button-raised ui-button-danger"
      ></button>
    </div>
  </p-footer>
</p-dialog>
