<mat-divider></mat-divider>
<div class="container-fluid">
  <header class="jumbotron">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Aplicativo Web para el control de Horas hombre en sitio</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <div class="col-md-7">
          <p>
            CDM MANTENIMIENTO Y SERVICIOS LTDA. es una empresa Colombiana
            perteneciente al grupo empresarial CDM. Inicio labores operativas el
            5 de mayo del 2006 en un consorcio temporal entre las empresas
            TRANSFORMADORES CDM LTDA e INGENIERIA2000 LTDA. ambas pertenecientes
            al mismo grupo empresarial.
          </p>
          <p>
            El 26 de febrero del 2010 se consolida como empresa legalmente
            constituida, con el propósito de aportar soluciones al sector
            eléctrico, ofreciendo servicios de montaje a tranformadores de
            pontencia y sub-estaciones eléctricas. operaciones de cargue y
            descargue y traslado especializado de transformadores de potencia.
            El 27 de marzo de 2017. cambio su razon social de CONSORCIO CDM
            MANTENIMIENTO Y SERVICIOS a CDM MANTENIMIENTO Y SERVICIOS LTDA.
            Actualmente se encuentra certificada en el Sistema Integrado de
            Gestion(SIG), bajo los lineamientos de las ISO 14001:2015 e ISO
            45001:2018 y logro su certificacion en normas NTC ISO 9001:2015
          </p>
        </div>
      </div>
    </div>
  </header>
</div>
