<mat-toolbar color="primary">
  <a [routerLink]="['/']">{{ appName }}</a>
  

  <a [routerLink]="['/home']" routerLinkActive="router-link-active">
    <button mat-button>Inicio</button>
  </a>

  <a
    [routerLink]="['/admin']"
    routerLinkActive="router-link-active"
    *ngIf="showAdminBoard"
  >
    <button mat-button>Admin</button>
  </a>

  <a
    [routerLink]="['/mod']"
    routerLinkActive="router-link-active"
    *ngIf="showModeratorBoard"
  >
    <button mat-button>Moderator</button>
  </a>

  <a
    [routerLink]="['/user']"
    routerLinkActive="router-link-active"
    *ngIf="isLoggedIn"
  >
    <button mat-button>Usuario</button>
  </a>

  <span class="fill-remaining-space"></span>
  <a
  *ngIf="isLoggedIn"
  [routerLink]="['/profile']"
  routerLinkActive="router-link-active"
  >
  <button mat-button>{{ username }}</button>
</a>

<a *ngIf="isLoggedIn">
  <button mat-button (click)="logout()">Cerrar Sesion</button>
</a>


<a
[routerLink]="['/login']"
*ngIf="!isLoggedIn"
routerLinkActive="router-link-active"
>
<button mat-button>Iniciar Sesion</button>
</a>
<a [routerLink]="['/about']" routerLinkActive="router-link-active">
  <button mat-button>About</button>
</a>
</mat-toolbar>
