a {
  color: white;
  text-decoration: none;
}
.profile-img-card {
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 0px;
  border-radius: 50%;
  border: transparent;
  ;
}
.mat-toolbar.mat-primary {
  background:
    #007ad9;
}
.example-fill-remaining-space {
  /* Esto llena el espacio restante, usando la caja flexible. 
     Cada fila de la barra de herramientas utiliza un diseño de fila de flexbox. */
  flex: 1 1 auto;
}

.mat-drawer-content {
    position: fixed;
    z-index: 1;
    display: contents;
    height: 100%;
    overflow: auto;
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}