a {
  color: white;
  text-decoration: none;
}
.profile-img-card {
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 0px;
  border-radius: 50%;
  border: transparent;
  ;
}
.mat-toolbar.mat-primary {
  background:
    #007ad9;
}