/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeng/resources/primeng.css";
@import "../node_modules/primeng/resources/themes/nova-colored/theme.css";
@import "../node_modules/primeicons/primeicons.css";
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
  background: url(../src/assets/fondoCMD.jpg) no-repeat center center fixed;
  background-size: cover;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.fill-remaining-space {
  flex: 1 1 auto;
}

.router-link-active {
  border: 1px solid ghostwhite;
}

.container-spinnner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.oceano {
  background: blue !important;
}

.computer {
  background: gray !important;
}

.bosque {
  background: green !important;
}

.relax {
  background: rebeccapurple !important;
}

mat-chip.mat-primary.mat-standard-chip.mat-chip-selected {
  min-height: 1rem;
  padding: 9px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
