<div class="ui-g">
  <p-panel
    header="Informes"
    [toggleable]="true"
    [style]="{ width: '100%', margin: '0 auto' }"
  >
    <div style="margin-bottom: 20px;">
      <p-menubar [model]="items"></p-menubar>
    </div>
    <p-table
      #dt
      id="dt"
      [value]="registros"
      sortField="persona.cedula"
      sortMode="single"
      (onSort)="onSort()"
      ><ng-template pTemplate="caption">
        <div class="ui-helper-clearfix" style="text-align: left">
          <!-- <button
            type="button"
            pButton
            icon="pi pi-file-o"
            iconPos="left"
            label="CSV"
            (click)="dt.exportCSV()"
            style="margin-right: 0.5em;"
          ></button> -->
          <button
            type="button"
            pButton
            icon="pi pi-file-excel"
            iconPos="left"
            label="EXCEL"
            (click)="exportExcel()"
            style="margin-right: 0.5em;"
            class="ui-button-success"
          ></button>
          <!-- <button
            type="button"
            pButton
            icon="pi pi-file-pdf"
            iconPos="left"
            label="PDF"
            (click)="exportPdf()"
            class="ui-button-warning"
          ></button> -->
          <!-- <button
            type="button"
            pButton
            icon="pi pi-file"
            iconPos="left"
            label="CSV - Selection Only"
            (click)="dt.exportCSV({ selectionOnly: true })"
            style="float:right"
          ></button> -->
          <p-toggleButton
            onIcon="pi pi-check"
            offIcon="pi pi-times"
            onLabel="Con Prestaciones"
            offLabel="Sin Prestaciones"
            iconPos="left"
            [style]="{ float: 'right' }"
            [(ngModel)]="prestaciones"
          ></p-toggleButton>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <!-- <th *ngFor="let col of cols">
            {{ col.header }}
          </th> -->
          <th></th>
          <th>HO</th>
          <th>RN</th>
          <th>HE</th>
          <th>HEN</th>
          <th>HEF</th>
          <th>HEFN</th>
          <th>Salario</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
        <tr
          class="ui-widget-header"
          *ngIf="rowGroupMetadata[rowData.persona.cedula].index === rowIndex"
        >
          <td colspan="7">
            <span style="font-weight:bold">{{ rowData.persona.nombre }}</span>
          </td>
          <td>
            {{
              prestaciones
                ? (rowGroupMetadata[rowData.persona.cedula]
                    .salario_con_prestaciones | currency)
                : (rowGroupMetadata[rowData.persona.cedula]
                    .salario_sin_prestaciones | currency)
            }}
          </td>
        </tr>
        <tr>
          <td>{{ rowData.fecha }}</td>
          <td>{{ rowData.hora_ordinaria }}</td>
          <td>{{ rowData.recargo_nocturno }}</td>
          <td>{{ rowData.hora_extra }}</td>
          <td>{{ rowData.hora_extra_nocturna }}</td>
          <td>{{ rowData.hora_extra_festiva }}</td>
          <td>{{ rowData.hora_extra_festiva_nocturna }}</td>
          <td>
            {{
              prestaciones
                ? (rowData.salario_con_prestaciones | currency)
                : (rowData.salario_sin_prestaciones | currency)
            }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div>

<p-dialog header="Seleccione Rango de Fechas" [(visible)]="display">
  <div class="ui-g ui-fluid">
    <div class="ui-g-4">
      <label for="fechaInicial">Fecha Inicio</label>
    </div>
    <div class="ui-g-8">
      <p-calendar [(ngModel)]="fechaInicial"  [locale]="es"></p-calendar>
    </div>
    <div class="ui-g-4">
      <label for="fechaFinal">Fecha Fin</label>
    </div>
    <div class="ui-g-8">
      <p-calendar [(ngModel)]="fechaFinal" [locale]="es"></p-calendar>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        type="button"
        pButton
        icon="pi pi-check"
        (click)="(!display)"
        label="Guardar"
      ></button>
    </div>
  </p-footer>
</p-dialog>
